@tailwind base;
@tailwind components;
@tailwind utilities;

.owl-theme .owl-nav.disabled+.owl-dots {
    background-color: #187ab709 !important;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 200px;
}



.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #d0a85c !important;
    margin-inline-start: 2px;
    border-radius: 40px !important;
    width: 19px !important;
    height: 7px !important;
    border-radius: 10px;
    transition: .3s linear !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px !important;
    height: 8px !important;
    margin: 1px 4px !important;
    background: #ffffff !important;
    display: block !important;
    transition: opacity .1s ease !important;
    border-radius: -4px !important;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 5 !important;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #ffffff;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(105, 105, 105);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 767px) {

    /* Hide navigation buttons on screens smaller than 768px (phones) */
    .owl-theme .owl-nav {
        display: none !important;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        width: 170px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 6px !important;
        height: 6px !important;
        margin: 0px 3px !important;
    }
}

body {
    overflow-x: hidden;
}