<section class="px-1 mb-2 md:px-10 py-3 ">
    <div
        class="relative  w-[195px] md:w-[260px] px-2 mb-1 py-0.5 
     after:content-[''] after:h-full after:bg-gradient-to-t from-blue-50 via-red-100 to-blue-200  after:w-2  after:absolute after:left-0 after:top-0 ">
        <h3 class=" px-2 md:px-5  text-gray-900  text-sm md:text-2xl font-semibold"> Top Categories</h3>
    </div>
    <div class="relative  ml-2">
        <div #link_container
            class="z-10  px-1 md:px-8  flex flex-nowrap overflow-x-auto  items-center space-x-3 md:space-x-5">
            <div *ngFor="let Category of allCategory"
                class="   flex-none cursor-pointer pb-2 border rounded-md shadow-md border-gray-200 space-y-3 flex w-28 md:w-32  items-center justify-center flex-col">
              <a  class="" [routerLink]="'/product/'+Category?.name">
                <div class="bg-white flex w-full h-20 md:h-24 items-center justify-center  shadow-sm">
                    <img class=" hover:scale-105 transition-transform  w-16 h-16 md:w-20  md:h-20"
                        [src]="Category?.image" alt="">
                </div>
                <p class="text-[12px] text-center w-full  md:text-[15px] capitalize font-semibold">{{Category?.name}}</p>
              </a>
            </div>
            <button
                class="border hidden md:block scroll-right absolute h-full -top-0 px-2 md:px-4 py-1 text-xl bg-[#fcfbfb] right-0 "
                (click)="scrollRight()"><i class='bx bxs-chevron-right text-[#616161] font-bold text-2xl'></i></button>
            <button
                class="border hidden md:block  scroll-right  absolute -top-0 px-3 h-full md:px-4 py-1 text-xl bg-[#fcfbfb] left-[-19px]  "
                (click)="scrollLeft()" *ngIf="isleft"><i
                    class='bx bxs-chevron-left text-2xl text-[#616161] font-bold '></i></button>
        </div>
    </div>
</section>