<div class=" hs-accordion-group" data-hs-accordion-always-open>
    <div class="relative hs-accordion active" id="hs-basic-always-open-heading-one">
        <button
            class="hs-accordion-toggle  hs-accordion-active:text-black py-3 inline-flex items-center gap-x-3 w-full font-semibold text-[18px] text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none "
            aria-controls="hs-basic-always-open-collapse-one">
            <svg class="hs-accordion-active:hidden block size-4" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14" />
                <path d="M12 5v14" />
            </svg>
            Special Filters
            <svg class="absolute right-2 hs-accordion-active:block hidden size-4"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M5 12h14" />
            </svg>
        </button>
        <div id="hs-basic-always-open-collapse-one"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-basic-always-open-heading-one">
            <div class="flex-col px-2 space-y-2 justify-center py-1 ">
                <div class="flex space-x-2 items-center">
                    <input class="w-4 h-4" type="checkbox" value="ok">
                    <p class="font-thin text-gray-950">With Minicash</p>
                </div>
                <div class="flex space-x-2 items-center">
                    <input class="w-4 h-4" type="checkbox" value="ok">
                    <p class="font-thin text-gray-950">0% interest</p>
                </div>
                <div class="flex space-x-2 items-center">
                    <input class="w-4 h-4" type="checkbox" value="ok">
                    <p class="font-thin text-gray-950">Pay over 48 months</p>
                </div>

                <div class="flex space-x-2 items-center">
                    <input class="w-4 h-4" type="checkbox" value="ok">
                    <p class="font-thin text-gray-950">On sale </p>
                </div>
            </div>
        </div>
    </div>

    <div class="relative hs-accordion active" id="hs-basic-always-open-heading-one">
        <button
            class="hs-accordion-toggle  hs-accordion-active:text-black py-3 inline-flex items-center gap-x-3 w-full font-semibold text-[18px] text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none "
            aria-controls="hs-basic-always-open-collapse-one">
            <svg class="hs-accordion-active:hidden block size-4" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14" />
                <path d="M12 5v14" />
            </svg>
            Promotion Type
            <svg class="absolute right-2 hs-accordion-active:block hidden size-4"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M5 12h14" />
            </svg>
        </button>
        <div id="hs-basic-always-open-collapse-one"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-basic-always-open-heading-one">
            <div class="flex-col px-2 space-y-2 justify-center py-1 ">
                <div class="flex space-x-2 items-center">
                    <input class="w-4 h-4" type="checkbox" value="ok">
                    <p class="font-thin text-gray-950">Limited Quantity </p>
                </div>
                <div class="flex space-x-2 items-center">
                    <input class="w-4 h-4" type="checkbox" value="ok">
                    <p class="font-thin text-gray-950">Best Offer</p>
                </div>
            </div>
        </div>
    </div>

    <div class="relative hs-accordion active" id="hs-basic-always-open-heading-one">
        <button
            class="hs-accordion-toggle  hs-accordion-active:text-black py-3 inline-flex items-center gap-x-3 w-full font-semibold text-[18px] text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none "
            aria-controls="hs-basic-always-open-collapse-one">
            <svg class="hs-accordion-active:hidden block size-4" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14" />
                <path d="M12 5v14" />
            </svg>
            Brand
            <svg class="absolute right-2 hs-accordion-active:block hidden size-4"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M5 12h14" />
            </svg>
        </button>
        <div id="hs-basic-always-open-collapse-one"
            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-basic-always-open-heading-one">
            <div class="flex-col px-2 space-y-2 justify-center py-1 ">
                <div>
                    <input type="search"
                        class="outline-none px-4 py-1 rounded-md shadow-sm border w-[80%] my-2 border-gray-300"
                        placeholder="Search By Brand">
                </div>
                <div *ngFor="let brand of allUniqueBrand" class="flex space-x-2 items-center">
                    <input class="w-4 h-4" type="checkbox" value="ok">
                    <p class="font-thin text-gray-950">{{brand!=null?brand:''}}</p>
                </div>
                
                <div class="flex space-x-2 items-center">
                    <input class="w-4 h-4" type="checkbox" value="ok">
                    <p class="font-thin text-gray-950">On sale </p>
                </div>
            </div>
        </div>
    </div>
</div>