<div  class="fixed bottom-0-0 end-0 z-[60] sm:max-w-xl w-full mx-auto p-6">
    <!-- Card -->
    <div class="p-4 bg-white border border-gray-200 rounded-xl shadow-sm">
        <div class="grid sm:flex sm:items-center gap-y-3 sm:gap-y-0 sm:gap-x-5">
            <div class="sm:max-w-sm">
                <h2 class="text-gray-500">
                    <span class="font-semibold  text-green-600">Task successfully !</span> <br> You can see the progress
                    of your task
                </h2>
            </div>
        </div>
    </div>
    <!-- End Card -->
</div>